@{
    ViewData["Title"] = "Home Page";
}
<style>

</style>
<div class="container">
<div class="row py-3">
    <div class="col-lg-4 col-md-12">
        <button class="btn btn-dark"><i class="bi bi-plus-square"></i> Add New</button>
    </div>
</div>
</div>


<div class="container py-3">
    <div class="row">
        <div class="col-lg-4">
            <h4 class="text-center"><i class="bi bi-person-rolodex"></i> ToDo</h4>
            <div class="card border-light mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Secondary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="text-center"><i class="bi bi-person-workspace"></i> Working</h4>
            <div class="card border-warning mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Secondary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="text-center"><i class="bi bi-person-video"></i> Done</h4>
            <div class="card border-success mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Success card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

</div>