@model TodoList.Models.TaskTbl

@{
    ViewData["Title"] = "Home Page";
}
<style>
    .modal-backdrop.show {
        opacity: 0.9;
    }

    .modal-header {
        padding: 1rem;
    }

    .card .card-body {
        height: 15vh;
    }
</style>
<div class="container">
    <div class="row py-3">
        <div class="col-lg-4 col-md-12">
            <a class="btn btn-dark" data-bs-toggle="offcanvas" href="#myOffcanvas" role="button">
                <i class="bi bi-plus-square"></i> Add New
            </a>
        </div>
    </div>
</div>


<div class="container-lg py-3">
    <div class="row">
        <div class="col-lg-4 ">
            <h4 class="text-center"><i class="bi bi-person-rolodex"></i> Task</h4>
            <div class="" id="pendingsection">
            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="text-center"><i class="bi bi-person-workspace"></i> Today</h4>
            <div class="" id="activesection">
            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="text-center"><i class="bi bi-person-video"></i> Done</h4>
            <div class="" id="donesection">
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="myOffcanvas">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">New Task</h5>
        <button id="canvaClose" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row py-1 align-items-center">
            <div class="col-4">
                <label class="col-form-label">Title</label>
            </div>
            <div class="col-8">
                <input id="Title" type="text" class="form-control">
            </div>
        </div>
        <div class="row py-1 align-items-center">
            <div class="col-4">
                <label class="col-form-label">Task</label>
            </div>
            <div class="col-8">
                <textarea id="Task" type="text" class="form-control"></textarea>
            </div>
        </div>
        <div class="row py-1 align-items-center">
            <div class="col-4">
                <label class="col-form-label">Date</label>
            </div>
            <div class="col-8">
                <div class="input-group d-flex justify-content-center ">
                    <input id="Date" type="date" class="form-control">
                </div>
            </div>
        </div>
        <div class="float-end py-5">
            <button onclick="return Add()" type="button" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>