@model TodoList.Models.TaskTbl

@{
    ViewData["Title"] = "Home Page";
}
<style>
    .modal-backdrop.show {
        opacity: 0.9;
    }

    .modal-header {
        padding: 1rem;
    }
    .card .card-body{ height: 15vh; }
</style>
<div class="container">
    <div class="row py-3">
        <div class="col-lg-4 col-md-12">
            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-square"></i> Add New</button>
        </div>
    </div>
</div>


<div class="container-lg py-3">
    <div class="row">
        <div class="col-lg-4 ">
            <h4 class="text-center"><i class="bi bi-person-rolodex"></i> Task</h4>
            <div class="" id="tasksection">

            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="text-center"><i class="bi bi-person-workspace"></i> Today</h4>
            <div class="card border border-warning border-5 border-top-0 border-end-0 border-bottom-0">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4 border-end">
                            <i class="bi bi-calendar-week"></i> date
                        </div>
                        <div class="col-8">
                            <div class="float-end">
                                <button type="button" class="btn btn-sm btn-outline-dark">Back to list</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="text-center"><i class="bi bi-person-video"></i> Done</h4>
            <div class="card border border-success border-5 border-top-0 border-end-0 border-bottom-0">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4 border-end">
                            <i class="bi bi-calendar-week"></i> date
                        </div>
                        <div class="col-8">
                            <div class="float-end">
                                <button type="button" class="btn btn-sm btn-outline-dark">Back to list</button>
                                <button type="button" class="btn btn-sm btn-outline-warning">Work today</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-action="Create">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="bi bi-person-rolodex"></i> New Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row py-1 align-items-center">
                        <div class="col-4">
                            <label class="col-form-label">Title</label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Title" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row py-1 align-items-center">
                        <div class="col-4">
                            <label class="col-form-label">Task</label>
                        </div>
                        <div class="col-8">
                            <textarea asp-for="Task" type="text" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row py-1 align-items-center">
                        <div class="col-4">
                            <label class="col-form-label">Date</label>
                        </div>
                        <div class="col-8">
                            <div class="input-group d-flex justify-content-center ">
                                <input asp-for="Date" type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
